version: "3.8"

volumes:
  postgres-data:

services:
  db:
    image: postgres:latest
    volumes:
      - postgres-data:/var/lib/postgresql/data
    env_file:
      - .env
    ports:
      - 5432:5432

  app:
    depends_on:
      - service:db
    network_mode: service:db
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
