name: Arex challenge

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  tests:
    name: Tests
    runs-on: ubuntu-latest

    services:
      postges:
        image: postgres:14-alpine
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: postgres

        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.18

      - uses: actions/checkout@v3

      - name: Test e2e
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_HOSTNAME: localhost
          POSTGRES_PROD_DB: postgres
          POSTGRES_TESTING_DB: testingdb
          POSTGRES_STUB_DB: stubdb
          PGPASSWORD: postgres
        run: make e2etesting
